{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}


<div class="banner-text">
    <h2>Welcome to <span>CovHelper</span></h2>
    <div class="container mb-3 py-3">
        <a href="/result">
            <button class="btn btn-warning">Connect to ChatBot!</button> 
        </a>
    </div>
    
</div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<footer class="blog-footer text-center">
    <p>©Satya Creations<p>
  </footer>
{% endblock body %}